
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  height: 72px;
}


.navbar ul{
  display: flex;
  list-style: none;
  gap: 25px;
  font-weight: 500;
}
